<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="https://www.clipartmax.com/png/small/75-754120_red-book-icon-png.png" height="16" alt="Red Book Icon Png @clipartmax.com">
				<a href="https://kilthub.cmu.edu/articles/journal_contribution/Creating_Breakthrough_Products_Revealing_the_Secrets_that_Drive_Global_Innovation/5788092">Creating Breakthrough Products: Revealing the Secrets that Drive Global Innovation</a>.
			</span><br />
			<span class="authors">
				Jonathan Cagan and Craig M. Vogel.
			</span><br />
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="https://www.clipartmax.com/png/small/75-754120_red-book-icon-png.png" height="16" alt="Red Book Icon Png @clipartmax.com">
				<a href="https://www.amazon.com/Design-Things-Come-Ordinary-Extraordinary/dp/0132776200">The design of things to come: How ordinary people create extraordinary products</a>.
			</span><br />
			<span class="authors">
				Jonathan M Cagan, Craig M Vogel, and Peter Boatwright.
			</span><br />
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="https://www.clipartmax.com/png/small/75-754120_red-book-icon-png.png" height="16" alt="Red Book Icon Png @clipartmax.com">
				<a href="https://www.amazon.com/Built-Love-Creating-Captivate-Customers-ebook/dp/B003YL4OYA">Built to love: creating products that captivate customers</a>.
			</span><br />
			<span class="authors">
				Peter Boatwright and Jonathan Cagan.
			</span><br />
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2001</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="https://www.clipartmax.com/png/small/75-754120_red-book-icon-png.png" height="16" alt="Red Book Icon Png @clipartmax.com">
				<a href="https://www.cambridge.org/core/books/formal-engineering-design-synthesis/5F91CBDBA1C73CD2802D0A182B85CF54">Formal Engineering Design Synthesis</a>.
			</span><br />
			<span class="authors">
				Erik K. Antonsson and Jonathan Cagan.
			</span><br />
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
