---
---
<script src="assets/scripts/copyCitation.js"></script>

<div> 
    <div>
        {% if entry.url %}
        <a href="{{ entry.url }}">{{reference}}</a>
        {% else %} {{reference}} {% endif %}
    </div>
    <div>
        <button class="copy-citation-button" onclick="copyToClipboard('{{ entry.bibtex | strip_newlines | escape }}')">Copy Bibtex</button>
        <!-- Make a button to download pdf -->
        {% if entry.pdf %}
        <button class="download-pdf-button" onclick="location.href='{{ entry.pdf }}';">Download PDF</button>
        {% endif %}
    </div>
</div>


  


